.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: fit-content;
  margin: 2rem auto;
}

.image {
  width: 35vw;
  height: 40vh;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .buttonContainer {
        gap: 1rem;
  }

  .image {
    width: 75vw;
    height: 30vh;
  }
}