.button {
  flex: 1;
  color: var(--primaryGreen);
  background-color: var(--accentGreen);
  font-weight: 700;
  font-size: 1rem;
  padding: 16px 32px;
  border: none;
  border-radius: 100px;
  transition: background-color 0.3s ease, transform 0.3s ease;
} 

.button:hover {
  cursor: pointer;
  background-color: var(--buttonHoverGreen);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc;
}

@media (max-width: 600px) {
  .button {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}