:root {
  --primaryGreen: #134a38;
  --accentGreen: #82e578;
  --buttonHoverGreen: #bef0ad;
  --backgroundCream: #f5f0d6;
  --textColour: #434343;
}


body{
  background-color: var(--backgroundCream);
}
